@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CrashData



    <head>
        <title>Prediction</title>
    </head>

@*Form to allow user to enter inputs and check severity*@

<div class="card-shadow grid">
    <div>
        <h1>Please include all neccessary information</h1>
    </div>
    <form method="post">
        <label asp-for="work_zone_related_True">Work Zone Related:</label>
        <select asp-for="work_zone_related_True">
            <option value="0.0">No</option>
            <option value="1.0">Yes</option>
        </select>
        <br />

        <label asp-for="pedestrian_involved_True">Pedestrian Involved:</label>
        <select asp-for="pedestrian_involved_True">
            <option value="0.0">No</option>
            <option value="1.0">Yes</option>
        </select>
        <br />

        <label asp-for="bicyclist_involved_True">Bicylist Involved:</label>
        <select asp-for="bicyclist_involved_True">
            <option value="0.0">No</option>
            <option value="1.0">Yes</option>
        </select>
        <br />

        <label asp-for="motorcycle_involved_True">Motorcyle Involved:</label>
        <select asp-for="motorcycle_involved_True">
            <option value="0.0">No</option>
            <option value="1.0">Yes</option>
        </select>
        <br />


        <label asp-for="improper_restraint_True">Not properly wearing Seatbelt:</label>
        <select asp-for="improper_restraint_True">
            <option value="0.0">Properly Buckled</option>
            <option value="1.0">Improperly Buckled</option>
        </select>
        <br />


        <label asp-for="unrestrained_True">Wearing Seatbelt:</label>
        <select asp-for="unrestrained_True">
            <option value="0.0">Yes</option>
            <option value="1.0">No</option>
        </select>
        <br />

        <label asp-for="dui_True">Substances involved:</label>
        <select asp-for="dui_True">
            <option value="0.0">No</option>
            <option value="1.0">Yes</option>
        </select>
        <br />


        <label asp-for="intersection_related_True">Crash at intersection:</label>
        <select asp-for="intersection_related_True">
            <option value="0.0">No</option>
            <option value="1.0">Yes</option>
        </select>
        <br />


        <label asp-for="wild_animal_related_True">Wild Animal:</label>
        <select asp-for="wild_animal_related_True">
            <option value="0.0">No</option>
            <option value="1.0">Yes</option>
        </select>
        <br />

        <label asp-for="overturn_rollover_True">Overturn rollover:</label>
        <select asp-for="overturn_rollover_True">
            <option value="0.0">No</option>
            <option value="1.0">Yes</option>
        </select>
        <br />

        <label asp-for="commercial_motor_veh_involved_True">commercial vehicle involved:</label>
        <select asp-for="commercial_motor_veh_involved_True">
            <option value="0.0">No</option>
            <option value="1.0">Yes</option>
        </select>
        <br />

        <label asp-for="teenage_driver_involved_True">Teenage Driver:</label>
        <select asp-for="teenage_driver_involved_True">
            <option value="0.0">No</option>
            <option value="1.0">Yes</option>
        </select>
        <br />


        <label asp-for="older_driver_involved_True">Older Driver:</label>
        <select asp-for="older_driver_involved_True">
            <option value="0.0">No</option>
            <option value="1.0">Yes</option>
        </select>
        <br />


        <label asp-for="single_vehicle_True">Single Vehicle:</label>
        <select asp-for="single_vehicle_True">
            <option value="0.0">No</option>
            <option value="1.0">Yes</option>
        </select>
        <br />


        <label asp-for="distracted_driving_True">Distracted Driving:</label>
        <select asp-for="distracted_driving_True">
            <option value="0.0">No</option>
            <option value="1.0">Yes</option>
        </select>
        <br />

        <label asp-for="drowsy_driving_True">Drowsy Driving:</label>
        <select asp-for="drowsy_driving_True">
            <option value="0.0">No</option>
            <option value="1.0">Yes</option>
        </select>
        <br />

        <label>Day of the Week:</label>
        <select>
            <option asp-for="day_Monday" value="1.0">Monday</option>
            <option asp-for="day_Tuesday" value="1.0">Tuesday</option>
            <option asp-for="day_Saturday" value="1.0">Saturday</option>
            <option asp-for="day_Sunday" value="1.0">Sunday</option>

        </select>
        <br />

        @*<label asp-for="day_Monday">Monday:</label>
            <select asp-for="day_Monday">
                <option value="0.0">No</option>
                <option value="1.0">Yes</option>
            </select>
            <br />

            <label asp-for="day_Saturday">Saturday:</label>
            <select asp-for="day_Saturday">
                <option value="0.0">No</option>
                <option value="1.0">Yes</option>
            </select>
            <br />

            <label asp-for="day_Sunday">Sunday:</label>
            <select asp-for="day_Sunday">
                <option value="0.0">No</option>
                <option value="1.0">Yes</option>
            </select>
            <br />

            <label asp-for="day_Tuesday">Tuesday:</label>
            <select asp-for="day_Tuesday">
                <option value="0.0">No</option>
                <option value="1.0">Yes</option>
            </select>
            <br />

            <label asp-for="roadway_departure_True">Roadway Departure:</label>
            <select asp-for="roadway_departure_True">
                <option value="0.0">No</option>
                <option value="1.0">Yes</option>
            </select>
            <br />*@

        <label asp-for="route_68">Route:</label>
        <select asp-for="route_68">
            <option value="0.0">Other</option>
            <option value="1.0">Route 68</option>
        </select>
        <br />

        <label asp-for="county_name_WASATCH">County:</label>
        <select asp-for="county_name_WASATCH">
            <option value="1.0">Wasatch</option>
            <option value="0.0">Other</option>
        </select>
        <br />

        <label asp-for="time_frame_5am_9am">Time of day:</label>
        <select asp-for="time_frame_5am_9am">
            <option value="1.0">5am-9am</option>
            <option value="0.0">9am-12pm</option>
        </select>
        <br />

        @*<label asp-for="time_frame_9am_12pm">Time 9 to 12:</label>
            <select asp-for="time_frame_9am_12pm">
                <option value="0.0">No</option>
                <option value="1.0">Yes</option>
            </select>
            <br />*@



        <button type="submit">Predict Crash Severity</button>
    </form>
</div>









