@page "/admin"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<html>

<head>
    <base href="/" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>

    <component type="typeof(CrashUtahProject.Pages.Admin.Routed)" render-mode="ServerPrerendered" />
    <script src="/_framework/blazor.server.js"></script>

</body>

</html>